*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#141414;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:black;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00c8ff;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
}

.hero{
height:70vh;

background-image:
linear-gradient(
to right,
rgba(0,0,0,0.8),
rgba(0,0,0,0.2)
),
url("./images/new-release-banner.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

display:flex;
align-items:center;
}

.hero-content{
margin-left:60px;
max-width:600px;
}

.tag{
background:#00c8ff;
color:black;
padding:8px 15px;
border-radius:20px;
font-weight:bold;
}

.hero-content h1{
font-size:60px;
margin-top:20px;
}

.hero-content p{
margin-top:15px;
line-height:1.7;
}

.stats{
margin-top:20px;
display:flex;
gap:20px;
}

.buttons{
margin-top:25px;
}

.read-btn,
.download-btn{
padding:12px 25px;
border:none;
border-radius:30px;
cursor:pointer;
margin-right:10px;
}

.read-btn{
background:#00c8ff;
}

.download-btn{
background:white;
}

.pdf-section{
padding:30px;
}

.pdf-section h2{
margin-bottom:20px;
}

.pdf-row{
display:flex;
gap:20px;
overflow-x:auto;
}

.pdf-row::-webkit-scrollbar{
display:none;
}

.pdf-card{
min-width:250px;
height:200px;
background:#222;
padding:20px;
border-radius:12px;
transition:0.3s;
}

.pdf-card:hover{
transform:scale(1.05);
background:#333;
}

.pdf-icon{
width:70px;
height:70px;
background:#e53935;
display:flex;
justify-content:center;
align-items:center;
border-radius:10px;
font-weight:bold;
font-size:20px;
margin-bottom:15px;
}
.read-btn:hover,
.download-btn:hover{

transform:scale(1.05);

transition:0.3s;

}
.button:hover{
    transform:scale(1.05);
    transition:0.3s;
}
