*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4efe6;
}

.main-container{


width:1050px;
height:580px;

background:
linear-gradient(
rgba(0,0,0,0.3),
rgba(0,0,0,0.3)),
url("images/elibrary_bg.jpeg");

background-size:cover;
background-position:center;

display:flex;

border-radius:20px;

overflow:hidden;

box-shadow:0 20px 40px rgba(0,0,0,0.35);


}

/* LEFT PANEL */

.left-panel{

width:50%;

color:white;

display:flex;

flex-direction:column;

justify-content:flex-end;

padding:50px;


}

.left-panel h1{


font-size:50px;

line-height:1.2;

margin-bottom:30px;


}

.signin-box{


width:200px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(10px);

padding:18px;

border-radius:15px;

cursor:pointer;

transition:0.3s;


}

.signin-box:hover{


transform:translateY(-3px);


}

.signin-box p{


font-size:14px;


}

.signin-box h3{

margin-top:8px;


}

.signin-link{

color:white;

text-decoration:none;

}

.signin-link:hover{


text-decoration:underline;


}

/* RIGHT PANEL */

.right-panel{


width:50%;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

display:flex;

justify-content:center;

align-items:center;

}

.form-container{


width:340px;

color:white;


}

.logo{

text-align:center;

font-size:30px;

font-weight:bold;

margin-bottom:25px;

}

.form-container h2{


text-align:center;

margin-bottom:25px;


}

/* INPUTS */

form input{


width:100%;

padding:12px;

margin-bottom:15px;

border:none;

border-radius:25px;

background:rgba(255,255,255,0.35);

color:white;

outline:none;

}

form input::placeholder{


color:white;

}

/* PASSWORD BOX */

.password-box{


position:relative;

margin-bottom:15px;

}

.password-box input{


margin-bottom:0;

padding-right:45px;


}

.toggle-password{


position:absolute;

right:15px;

top:50%;

transform:translateY(-50%);

color:white;

cursor:pointer;

}

/* PASSWORD STRENGTH */

#strength{


margin-bottom:10px;

font-size:13px;

font-weight:bold;


}

/* TERMS */

.terms{


display:flex;

align-items:center;

gap:8px;

margin-bottom:15px;

color:white;

font-size:14px;
}

.terms input{

width:auto;

margin:0;

}

/* BUTTON */

button{


width:100%;

padding:12px;

border:none;

border-radius:25px;

background:white;

color:#7f4a83;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:scale(1.03);

}

/* MESSAGE */

#message{


min-height:22px;

text-align:center;

margin-top:15px;

font-size:14px;

font-weight:bold;

}

/* SOCIAL LOGIN */

.social-login{


text-align:center;

margin-top:20px;


}

.icons{
    
margin-top:10px;

font-size:24px;


}

.icons i{

margin:0 10px;

cursor:pointer;

transition:0.3s;

}

.icons i:hover{

transform:scale(1.2);


}
